<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="todo">
            <ion-icon name="home"></ion-icon>
            <ion-label style="align-content: center">To do</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label style="align-content: center">About</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contact">
            <ion-icon name="body"></ion-icon>
            <ion-label style="align-content: center">Contact</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
